<div class="row">
    <div class="col-sm-12">
        <h2 class="">Miller Details</h2>
    </div>
</div>
<hr>
<div class="row" *ngIf="miller">
    <div class="col-sm-2 gutter-1">
        <button routerLink="/" class="btn btn-default clickable fill-width">Home</button>
    </div>
    <div class="col-sm-12">
        <div>
            <strong>Name:</strong>
            <span>{{miller.Name}}</span>
        </div>
        <div>
            <strong>Address:</strong>
            <span>{{miller.Address}}</span>
        </div>
        <div>
            <strong>Farms:</strong>
            <table class="table table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let farm of miller.Farms">
                        <td (click)="viewFarmDetails(farm)" class="clickable">{{farm.Name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>