<div class="row">
    <div class="col-sm-12">
        <h2>Farm Details</h2>
    </div>
</div>
<hr>
<div class="row" *ngIf="farm">
    <div class="col-sm-2 gutter-1">
        <button routerLink="/" class="btn btn-default clickable fill-width">Home</button>
    </div>
    <div class="col-sm-2 gutter-1">
        <button routerLink="/farms/edit/{{farmCode}}" class="btn btn-primary clickable fill-width">Edit</button>
    </div>
    <div class="col-sm-12">
        <div>
            <strong>Code:</strong>
            <span>{{farm.Name}}</span>
        </div>
        <div>
            <strong>Name:</strong>
            <span>{{farm.Name}}</span>
        </div>
        <div>
            <strong>Type:</strong>
            <span>{{farm.FarmType}}</span>
        </div>
        <div>
            <strong>Harvested:</strong>
            <span>{{farm.DateTimeHarvested}}</span>
        </div>
        <div>
            <strong>Miller:</strong>
            <span class="as-link" (click)="viewMillerDetails()">{{farm.Miller.Name}}</span>
        </div>
        <div>
            <strong>Total Area:</strong>
            <span >{{farm.getPaddockArea()}} ha</span>
        </div>
        <div>
            <strong>Paddocks:</strong>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Code</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paddock of farm.Paddocks">
                        <td>{{paddock.Code}}</td>
                        <td>{{paddock.Area}} Hectares</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>