<div class="row">
    <div class="col-sm-12">
        <h2>Farm List</h2>
    </div>
</div>
<hr>
<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 gutter-1">
                <input type="text" class="form-control" placeholder="Farm name..." [(ngModel)]="filter.farm" (ngModelChange)="filterFarms()" name="farm_name_filter_input">
            </div>
            <div class="col-sm-4 gutter-1">
                <select class="form-control" [(ngModel)]="filter.miller" (change)="filterFarms()" name="miller_name_filter_input">
                    <option value="" selected>Miller name...</option>
                    <option *ngFor="let miller of millerList" [ngValue]="miller.Name">{{miller.Name}}</option>
                </select>
            </div>
            <!-- <div class="col-sm-2 gutter-1">
                <button class="btn btn-primary clickable fill-width" type="button" (click)="filterFarms()">Search</button>
            </div> -->
            <div class="col-sm-2 gutter-1">
                <button class="btn btn-default clickable fill-width" type="button" (click)="filter.farm = ''; filter.miller = ''; filterFarms()">Reset</button>
            </div>
            <div class="col-sm-2 gutter-1">
                <button routerLink="/add-farm" class="btn btn-success clickable fill-width" type="button">Add Farm</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div *ngIf="farmList.length != tablePagination.data.length">
            <span><i>Filtered to {{tablePagination.data.length}} items</i></span>
        </div>
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Farm Name</th>
                    <th>Type</th>
                    <th>Miller</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let farm of tablePagination.data.slice((tablePagination.pageNumber - 1) * tablePagination.resultsPerPage, tablePagination.pageNumber * tablePagination.resultsPerPage)' 
                (click)="viewDetails(farm)" class="clickable">
                    <td>{{farm.Name}}</td>
                    <td>{{farm.FarmType}}</td>
                    <td class="as-link" (click)="viewMillerDetails(farm.Miller)"><span >{{farm.Miller.Name}}</span></td>
                    <td class="as-warning-link" (click)="removeFarm(farm)"><span >Delete</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <div class="btn-group">
            <button class="btn btn-default" [disabled]="tablePagination.pageNumber === 1" (click)="tablePagination.pageNumber = 1">&laquo;</button>
            <button class="btn btn-default" [disabled]="tablePagination.pageNumber === 1" (click)="tablePagination.pageNumber = tablePagination.pageNumber === 1 ? 1 : tablePagination.pageNumber - 1"><</button>
            <button class="btn btn-default">{{tablePagination.pageNumber}}</button>
            <button class="btn btn-default" [disabled]="tablePagination.pageNumber >= (tablePagination.data.length / tablePagination.resultsPerPage)" (click)="tablePagination.pageNumber = tablePagination.pageNumber >= (tablePagination.data.length / tablePagination.resultsPerPage) ? tablePagination.Math.ceil(tablePagination.data.length / tablePagination.resultsPerPage) : tablePagination.pageNumber + 1">></button>
            <button class="btn btn-default" [disabled]="tablePagination.pageNumber >= (tablePagination.data.length / tablePagination.resultsPerPage)" (click)="tablePagination.pageNumber = tablePagination.Math.ceil(tablePagination.data.length / tablePagination.resultsPerPage)">&raquo;</button>
            <select class="form-control" [(ngModel)]="tablePagination.resultsPerPage" (change)="tablePagination.pageNumber = 1" id="pagination-count" name="pagination-count" >
                <option>5</option>
                <option>10</option>
                <option>20</option>
            </select>
        </div>
    </div>
</div>
